<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
	<title>{% block title %}Pagina Principal{% endblock title %}</title>
	<link href="/static/css/bootstrap.min.css" rel="stylesheet">
	{% block css1 %}<link href="/static/css/boton_unete.css" rel="stylesheet">{% endblock css1 %}
	<link href="/static/css/lista.css" type="text/css" rel="stylesheet">
	{% block css2 %}<link href="/static/css/partidas.css" type="text/css" rel="stylesheet">{% endblock css2 %}
	<link href="/static/css/cuerpo.css" type="text/css" rel="stylesheet">
	<link href="/static/css/facebook.css" type="text/css" rel="stylesheet">
	<link href="/static/css/textarea.css" type="text/css" rel="stylesheet">
</head>
<body>
	<ul class="menu">
		<li><a href="/trivia/">Principal</a></li>
		<li><a href="/trivia/nuevousuario/">Nuevo Usuario</a></li>
		{% if user.is_anonymous %}
		<li><a href="/trivia/login">Login</a></li>
		{% endif %}
		{% if not user.is_anonymous %}
		<li><a href="/trivia/logout">Logout {{user}}</a></li>
		<li><a href="/trivia/perfil/">Ver perfil {{user}}</a></li>
		<li><a href="/preguntas/crearpartida/">Nueva Partida</a></li>
		{% block aux %}
		{%for item in menu%}
			<li><a href="{{item.url}}">{{item.label}}</a></li>
		{%endfor%}
		{% endblock aux %}
		{% endif %}
		<!--<li><a href="/trivia/usuarionuevo/">Regístrese</a></li>
		<li><a href="/trivia/perfilusuario/">Crear Perfil</a></li>
		<li><a href="/trivia/logueousuario/">Loguear Usuario</a></li>-->
	</ul>
	<h1><center>{% block encabezado %}BIENVENIDOS A LA TRIVIA{% endblock encabezado %}</center></h1>
	{% block contenido %}
	{% if not user.is_anonymous %}
	{% for i in lista %}
	<table class="normal" HEIGHT="500">
		<tr><th>TITULO DE LA PARTIDA:</th><th>{{ i.titulo }}</th></tr>
		<tr><th>JUGADORES:</th><th>{{ i.jugadores }}</th></tr>
		<tr><th>PREGUNTAS:</th><th>{{ i.preguntas }}</th></tr>
		<tr><th>TIEMPO POR PREGUNTA:</th><th>{{ i.tiempo_respuesta }} segundos</th></tr>
		<tr><th>CATEGORIAS:</th><th>{% for j in i.categorias_sel.all %}<table><tr>{{ j.nombre }}<br></tr>{% endfor %}</table></th></tr>
		<tr><th>CREADO POR:</th><th>{{ i.usuario }}</th></tr>
		<tr><td COLSPAN="2" ALIGN="center"><form><input type="submit" value="ENTRAR"></form></td></tr>
	</table>
	{% endfor  %}
	{% endif %}
	{% endblock contenido %}
	<!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
    <!-- Include all compiled plugins (below), or include individual files as needed -->
    <script src="/static/js/bootstrap.min.js"></script>
</body>
</html>
