{% extends "principal.html "%}
{% block title %}PERFIL {{user.perfil.nick}}{% endblock title %}
{% block encabezado %}BIENVENIDOS!!! {{user}}{% endblock encabezado %}
{% block contenido %}
<h1><center>DATOS PERSONALES</center></CENTER></h1>
<TABLE ALIGN="center" WIDTH="500">
	<TR>
		<TD>NICK</TD>
		<TD>{{user.perfil.nick}}</TD>
		<TD ROWSPAN=5 ALIGN="center"><img src="/media/{{user.perfil.avatar}}" alt="avatar" width="200" height="190" title="{{user.perfil.nick}}"></TD>
	</TR>
	<TR>
		<TD>NOMBRES</TD>
		<TD>{{user.perfil.nombres}}</TD>
	</TR>
	<TR>
		<TD>APELLIDOS</TD>
		<TD>{{user.perfil.apellidos}}</TD>
	</TR>
	<TR>
		<TD>PARTIDAS JUGADAS</TD>
		<TD>{{user.perfil.partidas_jugadas}}</TD>
	</TR>
	<TR>
		<TD>PUNTOS ACUMULADOS</TD>
		<TD>{{user.perfil.puntaje_total}}</TD>
	</TR>
</TABLE>
<!-- <div class="form">
	<form action="" method="POST" enctype="multipart/form-data">{{form.as_ul}}{% csrf_token %}<input type="submit" value=".::ENVIAR::."></form>
	<!--<div class="errores">
		{{error}}
	</div>
</div> -->
<!--<p><a href="{% url 'socialauth_begin' 'facebook' %}" class="PrimaryLink">Registrar con la cuenta de Facebook</a></p>-->
{% endblock %}