{% extends "principal.html "%}
{% block contenido %}
<TABLE>
	{% for u in perfil %}
	<TR><TD>NICK</TD><TD>{{u.nick}}</TD></TR>
	<TR><TD>NOMBRES</TD><TD>{{u.nombres}}</TD></TR>
	<TR><TD>APELLIDOS</TD><TD>{{u.apellidos}</TD></TR>
	<TR><TD>AVATAR</TD><TD>{{u.avatar}}</TD></TR>
	<TR><TD>PUNTAJE</TD><TD>{{u.puntaje}}</TD></TR>
	<TR><TD>PARTIDAS</TD><TD>{{u.partidas}}</TD></TR>
	{% endfor %}
</TABLE>
<!--<p><a href="{% url 'socialauth_begin' 'facebook' %}" class="PrimaryLink">Registrar con la cuenta de Facebook</a></p>-->
{% endblock %}